// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
$yellow: #ffb900;
$blue: #115fff;
$darkblue: #002856;

* {
  font-family: 'Cairo', sans-serif;
  font-weight: 100;
}

#wrapper-navbar {
  // background: url('http://192.168.1.50/wp-content/uploads/2018/04/ferrari_488_gte.jpeg');
  // background-size: cover;
  // background-repeat: no-repeat;
  // text-transform: uppercase;
  // height: 700px;
  // background-position: center;
  position: absolute;
  width: 100%;
  top: 50px;

  .dropdown {
    position: unset;
  }

  .navbar {
    margin: 0 200px 0 200px;
    // top: 50px;
    padding: 0px;
    .navbar-brand {
      padding: 0;
    }
  }

  #main-menu {

    .dropdown-toggle::after {
      display: none;
    }
    & > li {
      &:hover, &:active, &.show {
        color: #fff;
        background: $darkblue;
      }

      .dropdown-menu-level0 {
        width: 100%;
        background: transparent;
        top: 97%;
        &.show {
          background: rgba($darkblue, 0.9);
        }

        a {
          text-transform: none;
          &:hover, &:active {
            background: none;

          }
        }

        > li {
          margin-left: 50px;
        }

        .dropdown-item-1 {
          font-size: 24px;
          font-weight: bold;
        }

        @include border-radius(0px);
        li {
          vertical-align: top;
          color: #000;
          background: none;
          display: inline-block;

          &:hover, &:active {
            background: none;
          }



          ul {
            border:none;
            display: block;
            list-style-type: disc;
            width: auto;
            position: relative;
            background: transparent;

            li {
              display: block;
            }

          }
        }
      }

      & > a {
        padding: 30px;
        color: #fff;
        font-weight: 300;
        &:hover, &:active, &.show {

        }
      }
    }
  }
}

#wrapper-navbar #main-menu a {
    color: #fff;
}

.custom-logo-link {
  width: 150px;
  height: auto;
}

.bg-yellow {
  background-color: $yellow;
}

#featured-slider {
  .carousel-item {
    max-width: 1920px;
    max-height: 800px;
    text-align: center;

    .content-headline {
      width: 100%;
      height: 150px;
      bottom: 0;
      position: absolute;

      h3 {
        color: #fff;
        font-size: 2em;
      }
    }
  }

  .carousel-indicators li {
    width: 170px;
  }

  .carousel-caption {
    bottom: 50px;
    h3 {
      font-weight: 400;
      margin-bottom: 30px;
    }

  }
}

#index-wrapper, #page-wrapper, #single-wrapper {
  padding-top: 170px;
}

.btn-primary {
  background-color: $yellow;
  border-color: $yellow;
}

.news-frontpage {
  text-align: center;
  margin-bottom: 30px;
  .news-content {
    padding-bottom: 15px;
    background-color: #ffffff;
    .image-container {
      background-size: cover;
      background-position: center;
      height: 170px;
      width: 100%;
      display: block;
    }
    img {
      object-fit: cover;
      max-height: 150px;
    }
  }
}

body {
  background-color: #EDEDED;
}
